.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.podcastContainer {
  text-decoration: none;
}

.podcastWrapper {
  position: relative;
  display: inline-block;
}

.podcastCover {
  width: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.podcastInfo {
  width: 250px;
  transform: translate(-20%, -45%);
  padding: 10px;
  padding-top: 90px;
  text-align: center;
  box-shadow: 2px 3px 3px 3px rgba(53, 50, 50, 0.29);
}

.podcastName {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  margin-bottom: 5px;
}

.podcastAuthor {
  color: #363434;
}
