.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: row;
  height: 100px;
  max-width: 1200px;
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.main {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #6699cc;
}

.loading-container {
  display: flex;
  align-items: center;
}
