.episodes-container {
  width: 600px;
}
.episodes-header {
  padding: 1px 1px 1px 15px;
  box-shadow: 2px 3px 3px 3px rgba(53, 50, 50, 0.29);
}
.episodes-list {
  margin-top: 30px;
  box-shadow: 2px 3px 3px 3px rgba(53, 50, 50, 0.29);
}
.episodes-list table {
  width: 100%;
}
.episodes-list table tbody tr:nth-child(odd) {
  background-color: #f4ecec;
}

.episodes-list table tbody td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.episodes-list table thead th {
  padding: 8px;
  background-color: #fcfcfc;
}
